<!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/count-up.min.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/tiny-slider.js"></script>
    <script src="static/js/glightbox.min.js"></script>
    <script src="static/js/imagesloaded.min.js"></script>
    <script src="static/js/isotope.min.js"></script>
    <script src="static/js/main.js"></script>