<!-- Start Header Area -->
{{>header}}
<!-- End Header Area -->
<!-- Start Nav Area -->
{{>nav}}
<!-- End Nav Area -->

<!-- ============start page============= -->

<style>
    .navbar-area{
    border-bottom: 1px solid #ccc;
}
</style>

<section class="section latest-news-area" id="media-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title align-left">
                    <h2 class="mb-0"><span class="lava-color">Media</span> </h2>
                        <p class="sub-heading">media</p>
                    </div>
                </div>
            </div>

            <div class="row mb-sm-5">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <img class="thumb" src="static/images/media/media-1.jpg" alt="#">
                            
                        </div>
                        <div class="content-body">
                            <h4 class="title"><a href="blog-single-sidebar.html">Make your team a Design driven
                                    company</a></h4>
                            <p class="my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                            <div class="meta-details">
                                 <a href="blog.php">
                                    <span class="text-uppercase text-white">read more</span>
                                 </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".4s">
                        <div class="image">
                            <img class="thumb" src="static/images/media/media-2.jpg" alt="#">
                        </div>
                        <div class="content-body">
                            <h4 class="title"><a href="blog-single-sidebar.html">The newest web framework that changed
                                    the world</a></h4>
                            <p class="my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                            <div class="meta-details">
                                <a href="blog.php">
                                    <span class="text-uppercase text-white">read more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".6s">
                        <div class="image">
                            <img class="thumb" src="static/images/media/media-3.jpg" alt="#">
                            
                        </div>
                        <div class="content-body">
                            <h4 class="title"><a href="blog-single-sidebar.html">5 ways to improve user retention for
                                    your startup</a></h4>
                            <p class="my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                            <div class="meta-details">
                                <a href="blog.php">
                                    <span class="text-uppercase text-white">read more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                        <div class="image">
                            <img class="thumb" src="static/images/media/media-1.jpg" alt="#">
                            
                        </div>
                        <div class="content-body">
                            <h4 class="title"><a href="blog-single-sidebar.html">Make your team a Design driven
                                    company</a></h4>
                            <p class="my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                            <div class="meta-details">
                                 <a href="blog.php">
                                    <span class="text-uppercase text-white">read more</span>
                                 </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".4s">
                        <div class="image">
                            <img class="thumb" src="static/images/media/media-2.jpg" alt="#">
                        </div>
                        <div class="content-body">
                            <h4 class="title"><a href="blog-single-sidebar.html">The newest web framework that changed
                                    the world</a></h4>
                            <p class="my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                            <div class="meta-details">
                                <a href="blog.php">
                                    <span class="text-uppercase text-white">read more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Single News -->
                    <div class="single-news wow fadeInUp" data-wow-delay=".6s">
                        <div class="image">
                            <img class="thumb" src="static/images/media/media-3.jpg" alt="#">
                            
                        </div>
                        <div class="content-body">
                            <h4 class="title"><a href="blog-single-sidebar.html">5 ways to improve user retention for
                                    your startup</a></h4>
                            <p class="my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard.</p>
                            <div class="meta-details">
                                <a href="blog.php">
                                    <span class="text-uppercase text-white">read more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single News -->
                </div>
            </div>
        </div>
    </section>







<!-- ============end page============= -->

<!-- Start Footer Area -->
{{>footer}}
<!-- End Footer Area -->
<!-- Start Script Area -->
{{>scripts}}
<!-- End Script Area -->

</body>

</html>