<!-- Start Header Area -->
<?php include ('header.php');?>
<!-- End Header Area -->
<!-- Start Nav Area -->
<?php include ('nav.php');?>
<!-- End Nav Area -->
<!-- ========================= Start Page ========================= -->

    <!-- Start Latest News Area -->
    <?php include ('blog.php');?>
    <!-- End Latest News Area -->

<!-- ========================= End Page ========================= -->
    <!-- Start Contact Area -->
    <?php include ('contact.php');?>
    <!-- End Contact Area -->
    <!-- Start Footer Area -->
    <?php include ('footer.php');?>
    <!-- End Footer Area -->
    <!-- Start Script Area -->
    <?php include ('scripts.php');?>
    <!-- End Script Area -->
</body>
</html>